@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@300;400;500;600;700&display=swap');



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Anybody', cursive;
  transition: all .2s ease;
  text-decoration: none;
  font-size: 14px;
  @media (max-width: 767px) {
    font-size: 12px;
  }

}

.hidden{
  display: none !important;
}

.app{
  font-size: 16px;
  background-color: var( --bg-section-color);
  overflow: hidden;
  position: relative;

  .container{
    position: relative;
    z-index: 2;
    overflow: hidden;
  }


}
